In [1]:
import mysql.connector
import pandas as pd

import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import pandas as pd

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

mydb = mysql.connector.connect(
  host="localhost",
  user="iwatts",
  passwd="April3519!",
  database="bookmein"
)

In [2]:
cursor = mydb.cursor()
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
tables

[('applogins',),
 ('appspecifictext',),
 ('attendee_details',),
 ('attendee_details_master_record',),
 ('attendee_details_master_record_select',),
 ('attendee_session_tracking',),
 ('attendee_types',),
 ('attendees',),
 ('conferences',),
 ('datasourcedetails',),
 ('discussion_group',),
 ('discussion_group_people',),
 ('email_settings',),
 ('emailssent',),
 ('event_question_to_speakers_permissions',),
 ('event_types',),
 ('events',),
 ('exhibitor_conversation',),
 ('exhibitor_message',),
 ('files_uploaded',),
 ('instructions',),
 ('livestreamconfig',),
 ('meeting',),
 ('meeting_response',),
 ('permissions',),
 ('registrations',),
 ('seminar_delegate_notes',),
 ('seminar_poll',),
 ('seminar_poll_answers',),
 ('seminar_question_answer_results',),
 ('seminar_question_answers',),
 ('seminar_speaker_questions',),
 ('speakers',),
 ('stand_attendance',),
 ('static_vars',),
 ('users',),
 ('uuids',),
 ('video_call',),
 ('video_call_auth',),
 ('video_call_codes',),
 ('video_call_files',)]

In [3]:
emptyTables = []
tables_list = []
for table in tables:
    sql = "SELECT COUNT(*) FROM " + table[0]
    cursor.execute(sql)
    num_rows = cursor.fetchall()[0][0]
    tables_list.append([table[0], num_rows])
    if num_rows == 0:
        emptyTables.append(table[0])


tablesDF = pd.DataFrame(tables_list, columns=["Table", "Rows"])
print("*** Empty Tables ***")
print(tablesDF[tablesDF["Rows"] == 0])
print("*** Tables with Entries ***")
print(tablesDF[tablesDF["Rows"] != 0])

*** Empty Tables ***
                                    Table  Rows
2                        attendee_details     0
3          attendee_details_master_record     0
4   attendee_details_master_record_select     0
9                       datasourcedetails     0
13                             emailssent     0
21                       livestreamconfig     0
27                           seminar_poll     0
28                   seminar_poll_answers     0
29        seminar_question_answer_results     0
30               seminar_question_answers     0
31              seminar_speaker_questions     0
32                               speakers     0
*** Tables with Entries ***
                                     Table    Rows
0                                applogins       1
1                          appspecifictext       2
5                attendee_session_tracking  759036
6                           attendee_types       3
7                                attendees    2006
8                              conferences       1
10                        discussion_group       3
11                 discussion_group_people     248
12                          email_settings       9
14  event_question_to_speakers_permissions     108
15                             event_types       3
16                                  events      37
17                  exhibitor_conversation    1832
18                       exhibitor_message    2056
19                          files_uploaded     113
20                            instructions       5
22                                 meeting      76
23                        meeting_response      88
24                             permissions    4943
25                           registrations    1248
26                  seminar_delegate_notes    2780
33                        stand_attendance    3772
34                             static_vars      31
35                                   users     131
36                                   uuids       1
37                              video_call     312
38                         video_call_auth     936
39                        video_call_codes     442
40                        video_call_files      56

In [4]:
cursor.execute("SELECT * from attendees")
attendees = cursor.fetchall()
columns=[]
for name in cursor.description:
    columns.append(name[0])
attendeesDF = pd.DataFrame(attendees, columns=columns)
attendeesDF

,id,conferenceid,uuid,password,resetcode,resetcode_time,external_reference,donotupdatefromapi,reference,title,...,profileimg,profileimg_thumb,profileimg_new,profileimg_thumb_new,badgephoto,userid,date_changed,last_user_login,loginapikey,exhibitoraccount
0,13895,35,None,$2y$10$NGp5hd62qp9uYtvBfnS77Owpli.yx82Jo3OuN4r...,UkzMGjYmqNVSujmoai6I,NaT,None,0,B00001,Mr,...,None,None,None,None,None,None,None,2021-01-10 15:27:50,IQUfag1XrXQAK2ZqSyH5q4R2F0hJHA3y94oEC8uD,0
1,13896,35,None,$2y$10$NGp5hd62qp9uYtvBfnS77Owpli.yx82Jo3OuN4r...,UkzMGjYmqNVSujmoai6I,NaT,None,0,B00002,Mr,...,None,None,None,None,None,None,None,2021-01-10 15:27:50,IQUfag1XrXQAK2ZqSyH5q4R2F0hJHA3y94oEC8uD,0
2,13897,35,None,$2y$10$NGp5hd62qp9uYtvBfnS77Owpli.yx82Jo3OuN4r...,UkzMGjYmqNVSujmoai6I,NaT,None,0,B00003,Mr,...,None,None,None,None,None,None,None,2021-01-10 15:27:50,IQUfag1XrXQAK2ZqSyH5q4R2F0hJHA3y94oEC8uD,0
3,13898,35,None,$2y$10$NGp5hd62qp9uYtvBfnS77Owpli.yx82Jo3OuN4r...,UkzMGjYmqNVSujmoai6I,NaT,None,0,B00004,Mr,...,None,None,None,None,None,None,None,2021-01-10 15:27:50,dHXtPbSH8tEUXvBg8qe6NLwf2eH3aVutzgfXTbn7,1
4,13899,35,None,$2y$10$WiLLMSq4nL2uJgwDKqm/Ie4RGQ7qaC6LIJZ9F5D...,g3lDbNR7R61cZrRPFNRY,NaT,None,0,B00005,Mrs,...,None,None,None,None,None,None,None,2020-12-11 11:30:59,k0ErdKjc3FdLnNdJsu5UdT1EwRi8MY1HhxxxbEwH,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,15896,35,None,None,None,NaT,None,0,B02002,,...,None,None,None,None,None,None,None,2020-12-18 13:50:55,None,0
2002,15897,35,None,None,None,NaT,None,0,B02003,,...,None,None,None,None,None,None,None,2020-12-18 13:50:55,None,0
2003,15898,35,None,None,None,NaT,None,0,B02004,,...,None,None,None,None,None,None,None,2020-12-18 13:50:55,None,0
2004,15899,35,None,$2y$10$ZtEkQoO3UvD4HeL4iko3TuIuBUdQBBuVgSc0CND...,None,NaT,None,0,E00001,None,...,None,None,None,None,None,None,None,NaT,edvbU2TwEPfIXBemuPZlEbpyQqG6jtaqOEY1uNjR,0
2005,15900,35,None,$2y$10$oub.KSK0z5mpDqb8yYv39.a3KdUK.G1ZdzlNCv9...,None,NaT,None,0,W00001,None,...,None,None,None,None,None,None,None,NaT,heTHITsuybFI8Z3zhb4gbSA4mgHonWGUYm3wmzhT,0

In [5]:
sql="SELECT eventid as Event_ID, COUNT(DISTINCT attendeeid) as Attendance FROM `attendee_session_tracking`GROUP BY eventid"
cursor.execute(sql)
attendance = cursor.fetchall()
columns=[]
for name in cursor.description:
    columns.append(name[0])
attendanceDF = pd.DataFrame(attendance, columns=columns)
attendanceDF

    Event_ID  Attendance
0       3457         412
1       3458         488
2       3459         460
3       3460         420
4       3461         416
5       3462         408
6       3463         576
7       3467         496
8       3468         472
9       3469         480
10      3470         428
11      3471         428
12      3472         412
13      3473         340
14      3475         480

In [6]:
import plotly.express as px
fig1 = px.bar(attendanceDF, x='Event_ID', y='Attendance')

In [7]:
# sql="SELECT events.event_reference as Event, COUNT(DISTINCT attendeeid) as EventCount, event_types.name as Type FROM ((attendee_session_tracking LEFT JOIN events ON attendee_session_tracking.eventid = events.id) LEFT JOIN event_types ON events.event_type = event_types.Id) GROUP BY events.event_reference"
sql="SELECT events.Id as Event_ID, events.event_reference as Reference, event_types.name as Type, COUNT(DISTINCT attendee_session_tracking.attendeeId) as Attendance FROM ((events LEFT JOIN event_types ON events.event_type = event_types.Id) LEFT JOIN attendee_session_tracking ON attendee_session_tracking.eventId = events.Id) GROUP BY events.Id ORDER BY Type"
cursor.execute(sql)
test = cursor.fetchall()
testDF = pd.DataFrame(test)
len(test)
testDF
columns=[]
for name in cursor.description:
    columns.append(name[0])
testDF = pd.DataFrame(test, columns=columns)
testDF

    Event_ID        Reference              Type  Attendance
0       3455        Virgin MB  Exhibition Stand           0
1       3474              CCS  Exhibition Stand           0
2       3444            AdEPT  Exhibition Stand           0
3       3446          Fordway  Exhibition Stand           0
4       3448          Glemnet  Exhibition Stand           0
5       3465            Daisy  Exhibition Stand           0
6       3450             Jisc  Exhibition Stand           0
7       3452          Maintel  Exhibition Stand           0
8       3454              TNP  Exhibition Stand           0
9       3456  Public Sector C  Exhibition Stand           0
10      3443            Cisco  Exhibition Stand           0
11      3445    Exponential-e  Exhibition Stand           0
12      3447          FourNet  Exhibition Stand           0
13      3464       Switchshop  Exhibition Stand           0
14      3449              hso  Exhibition Stand           0
15      3466         Innopsis  Exhibition Stand           0
16      3451          Juniper  Exhibition Stand           0
17      3453      MLL Telecom  Exhibition Stand           0
18      3442             None        Front Door           0
19      3472            Q & A           Seminar         412
20      3457            AdEPT           Seminar         412
21      3459              MLL           Seminar         460
22      3476                            Seminar           0
23      3461                            Seminar         416
24      3478                            Seminar           0
25      3463                            Seminar         576
26      3467            BREAK           Seminar         496
27      3469            CISCO           Seminar         480
28      3471            Q & A           Seminar         428
29      3473  Q&A and Panel D           Seminar         340
30      3458          FourNet           Seminar         488
31      3475      Plenary Q&A           Seminar         480
32      3460        Virgin MB           Seminar         420
33      3477                            Seminar           0
34      3462             Jisc           Seminar         408
35      3468      LUNCH BREAK           Seminar         472
36      3470            BREAK           Seminar         428

In [8]:
sql="SELECT events.Id as Event_ID, events.event_reference as Reference, event_types.name as Type, COUNT(DISTINCT attendee_session_tracking.attendeeId) as Attendance FROM ((attendee_session_tracking LEFT JOIN events ON attendee_session_tracking.eventId = events.Id) LEFT JOIN event_types ON events.event_type = event_types.Id) GROUP BY events.Id"
cursor.execute(sql)
attendance = cursor.fetchall()
columns=[]
for name in cursor.description:
    columns.append(name[0])
attendanceDF1 = pd.DataFrame(attendance, columns=columns)
attendanceDF1

    Event_ID        Reference     Type  Attendance
0       3457            AdEPT  Seminar         412
1       3458          FourNet  Seminar         488
2       3459              MLL  Seminar         460
3       3460        Virgin MB  Seminar         420
4       3461                   Seminar         416
5       3462             Jisc  Seminar         408
6       3463                   Seminar         576
7       3467            BREAK  Seminar         496
8       3468      LUNCH BREAK  Seminar         472
9       3469            CISCO  Seminar         480
10      3470            BREAK  Seminar         428
11      3471            Q & A  Seminar         428
12      3472            Q & A  Seminar         412
13      3473  Q&A and Panel D  Seminar         340
14      3475      Plenary Q&A  Seminar         480

In [9]:
import plotly.express as px
fig2 = px.bar(attendanceDF1, x='Reference', y='Attendance')

In [10]:
sql="SELECT events.Id as Event_ID, events.event_reference as Reference, event_types.name as Type, DATE_FORMAT(attendee_session_tracking.date_pinged, '%k %i') AS Time, COUNT(DISTINCT attendee_session_tracking.attendeeId) as Attendance FROM ((attendee_session_tracking LEFT JOIN events ON attendee_session_tracking.eventId = events.Id) LEFT JOIN event_types ON events.event_type = event_types.Id)WHERE events.Id = 3469 GROUP BY Time"
cursor.execute(sql)
attendance = cursor.fetchall()
columns=[]
for name in cursor.description:
    columns.append(name[0])
attendanceDF = pd.DataFrame(attendance, columns=columns)
attendanceDF

    Event_ID Reference     Type   Time  Attendance
0       3469     CISCO  Seminar  11 45         376
1       3469     CISCO  Seminar  11 46         388
2       3469     CISCO  Seminar  11 47         400
3       3469     CISCO  Seminar  11 48         404
4       3469     CISCO  Seminar  11 49         416
5       3469     CISCO  Seminar  11 50         416
6       3469     CISCO  Seminar  11 51         424
7       3469     CISCO  Seminar  11 52         420
8       3469     CISCO  Seminar  11 53         424
9       3469     CISCO  Seminar  11 54         424
10      3469     CISCO  Seminar  11 55         436
11      3469     CISCO  Seminar  11 56         440
12      3469     CISCO  Seminar  11 57         440
13      3469     CISCO  Seminar  11 58         440
14      3469     CISCO  Seminar  11 59         440
15      3469     CISCO  Seminar  12 00         448
16      3469     CISCO  Seminar  12 01         440
17      3469     CISCO  Seminar  12 02         448
18      3469     CISCO  Seminar  12 03         448
19      3469     CISCO  Seminar  12 04         460
20      3469     CISCO  Seminar  12 05         460
21      3469     CISCO  Seminar  12 06         456
22      3469     CISCO  Seminar  12 07         464
23      3469     CISCO  Seminar  12 08          80

In [11]:
import plotly.express as px
fig3 = px.line(attendanceDF, x='Time', y='Attendance')

In [13]:
app.layout = html.Div(children=[
    html.H1(children='BookMeIn Dashboard'),

    html.Div(children='''
        Built by DASH on FLASK
    '''),
    html.H2(children="Choose an Event"),
    dcc.Dropdown(
                id='crossfilter-xaxis-column',
                options=[{'label': i, 'value': i} for i in attendanceDF1["Event_ID"].unique()],
                value='Fertility rate, total (births per woman)'


    ),
    
    html.Div([
            
        dcc.Graph(
        id='Figure_1',
        figure=fig1
            )]),

    html.Div([
    
    dcc.Graph(
        id='Figure_2',
        figure=fig2
    )]),
    
    html.Div([
    
    dcc.Graph(
        id='Figure_3',
        figure=fig3
    )])
])

if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [21/Feb/2021 21:16:39] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [21/Feb/2021 21:16:40] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [21/Feb/2021 21:16:40] "GET /_dash-dependencies HTTP/1.1" 200 -